extends layout

block content
  .features-clean(style='background-color: #0b0c10;')
    .container
      .intro
        h2.text-center(style='color: rgb(255,255,255);') Information
        p.text-center(style='color: rgb(255,255,255);')= info
      .row.features
        .col-sm-7.col-lg-6.item
          i.fa.fa-code.icon
          h3.name(style='color: rgb(255,255,255);') About Us
          p.description(style='color: rgb(255,255,255);')
           p !{(content).replace(/\n/g, '<br/>')}.
        .col-sm-7.col-lg-6.item
          i.fa.fa-globe.icon
          h3.name(style='color: rgb(255,255,255);') About F1
          p.description(style='color: rgb(255,255,255);')
            p !{(content1).replace(/\n/g, '<br/>')}


