doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='../stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='../fonts/ionicons.min.css')
    link(rel='stylesheet', href='../stylesheets/article.css')
    link(rel='stylesheet', href='../stylesheets/article-list.css')
    link(rel='stylesheet', href='../stylesheets/about.css')
    link(rel='stylesheet', href='../stylesheets/footer.css')
    link(rel='stylesheet', href='../stylesheets/login-form.css')
    link(rel='stylesheet', href='../stylesheets/navigation-with-search.css')
    link(rel='stylesheet', href='../stylesheets/registration-form.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='apple-touch-icon', sizes='180x180', href='../favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../favicon/favicon-16x16.png')
  body(style='background-color: #0b0c10;')
    nav.navbar.navbar-light.navbar-expand-md.navigation-clean-search.fixed_nav(style='background-color: #1f2833;')
      .container
        a.navbar-brand(href='/ ', style='color: rgb(255,255,255);') Formula 1
        button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse(style='color: #333333;')
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link(href='/ ', style='color: rgb(255,255,255);') Home
            li.nav-item(role='presentation')
              a.nav-link(href='/about/', style='color: rgb(255,255,255);') About
          form.form-inline.mr-auto(target='_self')
            .form-group
              label(for='search-field')
                i.fa.fa-search
              input#search-field.form-control.search-field(type='search', name='search')
          a.btn.btn-light.action-button(role='button', href='/register/', style='background-color: rgba(255,255,255,0);') Register
          a.btn.btn-light.action-button(role='button', href='/login/', style='background-color: #45a29e;') Login
    .main
    block content
    .footer-dark(style='background-color: #1f2833;')
      footer
        .container
          .row
            .col-sm-6.col-md-3.item
              h3 Services
              ul
                li
                  a(href='#') Web design
                li
                  a(href='#') Development
                li
                  a(href='#') Hosting
            .col-sm-6.col-md-3.item
              h3 About
              ul
                li
                  a(href='#') Company
                li
                  a(href='#') Team
                li
                  a(href='#') Careers
            .col-md-6.item.text
              h3 Company Name
              p
                | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
            .col.item.social
              a(href='#')
                i.icon.ion-social-facebook
              a(href='#')
                i.icon.ion-social-twitter
              a(href='#')
                i.icon.ion-social-snapchat
              a(href='#')
                i.icon.ion-social-instagram
          p.copyright &copy; Nigel Guerin <script>document.write(new Date().getFullYear());</script>
    div
    script(src='../javascript/jquery.min.js')
    script(src='../javascript/bootstrap.min.js')

