extends layout

include _includes/sharedHTMLfunctions

block content
    .article-list(style='background-color: #454545;')
        .container
            .intro
                h2.text-center(style='color: rgb(255,255,255);')= pageHeader.title
                p.text-center(style='color: rgb(255,255,255);')= pageHeader.strapline
            .row.articles
                each circuit in circuits
                    .col-sm-6.col-md-3.item
                        a(href="/location")
                            img.img-fluid(src= circuit.facilities)
                        h3.name(style='color: rgb(255,255,255);')= circuit.circuitName
                        p.description(style='color: #ffffff;')= circuit.locality
                        p.description(style='color: #ffffff;')= circuit.country
                        a.action(href="/location")
                            i.fa.fa-arrow-circle-right(style='color: #66fcf1;')