extends layout

include _includes/sharedHTMLfunctions

block content
    .article-list(style='background-color: #0b0c10;')
        .container
            .intro
                h2.text-center(style='color: rgb(255,255,255);') Latest Articles
                p.text-center(style='color: rgb(255,255,255);') Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.
            .row.articles
                .col-sm-6.col-md-4.item
                    a(href='#')
                        img.img-fluid(src='../img/desk.jpg')
                    h3.name(style='color: rgb(255,255,255);') Article Title
                    p.description(style='color: #ffffff;') Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                    a.action(href='#')
                        i.fa.fa-arrow-circle-right(style='color: #66fcf1;')
                .col-sm-6.col-md-4.item
                    a(href='#')
                        img.img-fluid(src='../img/building.jpg')
                    h3.name(style='color: rgb(255,255,255);') Article Title
                    p.description(style='color: #f9f9f9;') Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                    a.action(href='#')
                        i.fa.fa-arrow-circle-right(style='color: #66fcf1;')
                .col-sm-6.col-md-4.item
                    a(href='#')
                        img.img-fluid(src='../img/loft.jpg')
                    h3.name(style='color: rgb(255,255,255);') Article Title
                    p.description(style='color: #ffffff;') Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                    a.action(href='#')
                        i.fa.fa-arrow-circle-right(style='color: #66fcf1;')



