extends layout

block content

  main.page.blog-post
    section.clean-block.clean-post.dark
      .container
        .block-content
          .post-body
            .top_
            h1(style='color: rgb(255,255,255);')= pageHeader.title
            form#addReview(action="", method="post", role="form")
              - if (error == "val")
                .alert.alert-danger(role="alert") All fields required, please try again
              .form-group
                label(style='color: rgb(255,255,255);') Name
                input#name.form-control(name="name")
              .form-group
                label(style='color: rgb(255,255,255);') Rating
              select#rating.form-control.input-sm(name="rating")
                option 5
                option 4
                option 3
                option 2
                option 1
              .form-group
                label(style='color: rgb(255,255,255);') Message
                textarea#review.form-control(name="review", rows="5")
              .form-group
                button.btn.btn-primary.btn-block(type='submit') Send

