extends layout

block content
    .login-dark
        form(method='post')
            h2.sr-only Login Form
            .illustration
                i.icon.ion-ios-locked-outline
            .form-group
                input.form-control(type='email', name='email', placeholder='Email')
            .form-group
                input.form-control(type='password', name='password', placeholder='Password')
            .form-group
                button.btn.btn-primary.btn-block(type='submit') Log In
            a.forgot(href='#') Forgot your email or password?


