
<div class="features-clean" style="background-color: #0b0c10;">
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="color: rgb(255,255,255);">Information</h2>
      <p class="text-center" style="color: rgb(255,255,255);">This website was created for Formula One fans for Formula One fans. Learn about Formula One circuits. Read and write reviews about your favourite and least favourite tracks.</p>
    </div>
    <div class="row features">
      <div class="col-sm-7 col-lg-6 item">
        <i class="fa fa-code icon"></i>
        <h3 class="name" style="color: rgb(255,255,255);">About Us</h3>
        <p class="description" style="color: rgb(255,255,255);"></p>
        <p class="description" style="color: rgb(255,255,255);">This website was be created to give detailed information about Formula 1 circuits. It will allow user to create accounts.</p>
        <p></p>
      </div>
      <div class="col-sm-7 col-lg-6 item">
        <i class="fa fa-globe icon"></i>
        <h3 class="name" style="color: rgb(255,255,255);">About F1</h3>
        <p class="description" style="color: rgb(255,255,255);"></p>
        <p class="description" style="color: rgb(255,255,255);">Formula One (also known as Formula 1 or F1) is the highest class of single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA) and owned by the Formula One Group</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div></div>
